  site: 武汉同学
  title: 武汉同学
  description: >-
    一个喜欢折腾的数码爱好者
  googlewebfonts: Fira+Code:wght@300;400;500 # Noto+Serif+SC:wght@300;400;500 
  lang: zh-CN
  timezone: Asia/Shanghai
  repo: https://songlin.me # site repo [optional]
  data-theme: dark # default theme "dark" | "light"

  author:
  name: 武汉同学
  bio: 一个喜欢折腾的数码爱好者，学习笔记分享。
  username: 武汉同学 # general username
  github: CarlCit # github username
  twitter: carlsonglin # twitter username
  email: me@songlin.me

# URL settings
url: "songlin.me" #
baseurl: # leave blank if not wishd
permalink: "songlin.me/"
permalink: pretty 


markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge

exclude:
  - .jekyll-cache
  - .obsidian
  - Gemfile
  - Gemfile.lock
  - LICENSE.md
  - README.md
  - CONTRIBUTING.md
  
compress_html:
  clippings: all
  comments: ["<!-- ", " -->", "<!---", "--->"]
  ignore:
    envs: all

sass:
  sass_dir: _sass
  style: compressed

plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-relative-links

collections:
  pages:
    output: true
    permalink: /:name
  posts:
    output: true
    permalink: /:year/:month/:day/:slug
  
defaults:
  -
    scope:
      path: ""
    values:
      layout: "default"
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: "page"
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"

relative_links:
  enabled:     true
  collections: false
